$screen-mobile-landscape-min: 36em;
$screen-tablets-min: 48em;
$screen-laptop-min: 62em;
$screen-desktop-min: 75em;
$screen-widescreen-min: 100em;

@mixin small {
  @media (min-width: #{$screen-mobile-landscape-min}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-tablets-min}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-laptop-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-desktop-min}) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: #{$screen-widescreen-min}) {
    @content;
  }
}
