/* light */
@font-face {
    font-family: 'FiraSans';
    font-weight: 300;
    src: url('/fonts/static/firasans-light-webfont.woff2') format('woff2'),
         url('/fonts/static/firasans-light-webfont.woff') format('woff');
}
/* regular */
@font-face {
    font-family: 'FiraSans';
    font-weight: 400;
    src: url('/fonts/static/firasans-regular-webfont.woff2') format('woff2'),
         url('/fonts/static/firasans-regular-webfont.woff') format('woff');
}
/* TODO semi-bold */
@font-face {
    font-family: 'FiraSans';
    font-weight: 700;
    src: url('/fonts/static/firasans-bold-webfont.woff2') format('woff2'),
         url('/fonts/static/firasans-bold-webfont.woff') format('woff');
}
/* bold */
@font-face {
    font-family: 'FiraSans';
    font-weight: 900;
    src: url('/fonts/static/firasans-bold-webfont.woff2') format('woff2'),
         url('/fonts/static/firasans-bold-webfont.woff') format('woff');
}

:root {
    --ff-serif: serif;
    --ff-sans:  "FiraSans", sans-serif;
    --ff-mono: monospace;
    /* typography from https://type-scale.com/ css file */
    --fs-h1: 3.052em;
    --fs-h2: 2.441em;
    --fs-h3: 1.953em;
    --fs-h4: 1.563em;
    --fs-h5: 1.25em;
    --fs-small: 0.8em;
    --fs-xsmall: 0.64em;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;
}