---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <main class="content-grid">
    <h1>About Astro Starter 0.1.1</h1>
    <h2>No more containers!</h2>
    <p>
      Testing the <b>.content-grid</b> class on the <b>main</b> element.
    </p>
    <p>
      It can be useful to have a system in place that's easy to go <b
        >full-width</b
      >, or have a <b>"breakout"</b> section for calls to action or blockquotes,
      or other things you want to call attention to.
    </p>
    <p class="breakout">
      This paragraph uses the <code>.breakout</code> class. Traditionally, we use
      a container or wrapper, which we need to close, and then open again, but thanks
      to grid, and with the recent additions of subgrid to all the evergreen browsers,
      maybe there's a better way to do things?
    </p>
    <p>
      It has it's downsides, as the code is more complex, and it's not as
      obvious how it works when we're so used to the old pattern.
    </p>
    <p>
      That said, we shouldn't limit ourselves just because we are used to
      working in a specific way.
    </p>
    <section class="full-width bg-primary section-padding">
      <h2>
        This section has <code>full-width</code> with a different background-color
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
        voluptates vitae reiciendis corporis molestias aspernatur vero eaque
        obcaecati neque dolores veritatis repudiandae voluptas consectetur
        voluptatum nobis maiores doloremque, nostrum deleniti!
      </p>
      <p>
        Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a
        placeat molestiae nihil voluptatem veniam facere, corrupti in vel,
        voluptates enim soluta sint dolores? Quaerat laboriosam iusto voluptatem
        accusantium ex alias?
      </p>
    </section>
    <h2>Back to normal</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto nam
      at praesentium cumque rem molestias earum officia neque nemo sunt
      laboriosam vero eum optio, saepe dolorem exercitationem quod asperiores
      iste?
    </p>
    <p class="breakout call-to-action">
      Not sure why, but we could set things up if ever you wanted random text to
      be full-bleed without bothering with a div or anything on the outside of
      it as well.
    </p>
    <p>
      Error nulla doloribus ex, eius voluptates saepe, in quae ea nesciunt rem
      possimus obcaecati consequuntur deleniti. Tempore deleniti deserunt harum,
      distinctio, culpa atque numquam ducimus repellat fugit iusto eveniet
      velit.
    </p>
    <h2>Images as full-bleed works too</h2>
    <img class="full-width p1" src="https://unsplash.it/1600/400" alt="" />
    <p>
      Exercitationem dolorum animi at autem tempore omnis, dolorem saepe sint
      totam architecto, vitae cum doloribus illo? Laudantium laboriosam saepe
      eligendi ipsam corrupti molestias expedita tempora eos minima, facere,
      eius dicta.
    </p>
    <p>
      Magnam eius beatae similique officiis quaerat. Natus est dicta temporibus
      a. Aut mollitia magnam quo. Sequi repellendus voluptas quia suscipit autem
      iste! Accusamus, delectus beatae inventore obcaecati ut totam ab.
    </p>

    <p>
      Eligendi ea maiores asperiores sed nobis qui, animi sint? Ratione
      laboriosam cum quasi repudiandae in, necessitatibus veritatis nihil
      perferendis maiores consequuntur magnam perspiciatis minus est quibusdam,
      voluptate voluptas natus corporis.
    </p>
    <p>
      Vero, facilis! Animi quam dolor a sunt, quae placeat perspiciatis quia
      odio quisquam at tempore dolorem eum ratione vel minima eaque repellendus
      dolores architecto necessitatibus velit reprehenderit amet et rem.
    </p>
    <p>
      Quos, animi expedita facere iste soluta accusamus et facilis, temporibus
      nemo praesentium iusto aliquam voluptas magnam pariatur blanditiis optio,
      corporis laborum quas? Quis libero aperiam est fuga veniam eos tenetur?
    </p>
    <h2>Images breakout!</h2>
    <img class="breakout p1" src="https://unsplash.it/1600/600" alt="" />
    <p>
      Quos, animi expedita facere iste soluta accusamus et facilis, temporibus
      nemo praesentium iusto aliquam voluptas magnam pariatur blanditiis optio,
      corporis laborum quas? Quis libero aperiam est fuga veniam eos tenetur?
    </p>
    <section class="bg-primary full-width">
      <h3>More Content</h3>
      <img class="p1" src="https://unsplash.it/1600/500" alt="" />
      <p>
        With some padding, consectetur adipisicing elit. Tenetur id, neque,
        temporibus laudantium aliquam sapiente qui consectetur iste eligendi
        velit nesciunt delectus, ex fugit natus quae? Molestias quaerat sed,
        odio nisi, est itaque atque maiores ullam cum, consequatur ipsa? Ullam
        magni sed quas dolore dolor cum, recusandae corrupti quos similique
        doloremque vitae. Corrupti, sapiente a? Maxime quasi perspiciatis
        cupiditate, saepe similique facere nihil porro fugiat assumenda
        voluptatum. Temporibus officiis repellat beatae nemo perferendis
        reiciendis quis iusto in accusantium a labore, voluptate at culpa ad
        autem ipsum iure? Voluptate veritatis dolor explicabo unde consequuntur
        sint libero tempora tenetur, ipsa ipsum corporis facere cum numquam
        facilis beatae tempore vero fugiat nisi eveniet eaque omnis placeat.
        Corporis, aspernatur. Obcaecati quo voluptatibus expedita dignissimos.
        At ipsum in repellat quo iure totam, fuga, esse mollitia reprehenderit
        et voluptatem sapiente porro tenetur cumque nobis. Non commodi quos quam
        esse nam alias quaerat quis neque iusto beatae ducimus eveniet,
        reiciendis obcaecati, distinctio culpa fuga amet enim aspernatur
        inventore. Dolorum, maxime enim deserunt, aut tempora molestias earum
        nam esse, quia autem omnis placeat harum? Ratione fugit repudiandae a
        beatae, exercitationem laudantium esse molestiae porro repellat voluptas
        modi tempora. Sed magnam sint officia consectetur iure distinctio quo
        sit dolores.
      </p>
    </section>
  </main>
</Layout>

<style>
  .bg-primary {
    background-color: var(--color-400);
  }
  .call-to-action {
    padding: 1rem;
    background: hsla(194, 32%, 66%, 0.15);
  }
  .p1 {
    padding: 1rem;
  }
</style>
