---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="homepage">
  <main class="content-grid">
    <h1>Astro Starter 0.1.1</h1>    
  </main>
</BaseLayout>

<style>
  .bg-primary {
    background-color: var(--color-400);
  }
  .call-to-action {
    padding: 1rem;
    background: hsla(194, 32%, 66%, 0.15);
  }
  .p1{
	padding: 1rem;
  }
</style>
