---
import Layout from "../layouts/Layout.astro";
import site from "../data/site.json";
---

<Layout title="homepage">
  <main class="content-grid">
    <div>
      <h1>Astro Starter {site.version}</h1>
      <p>
        Astro is the web framework for building content-driven websites like
        blogs, marketing, and e-commerce. Astro is best-known for pioneering a
        new frontend architecture to reduce JavaScript overhead and complexity
        compared to other frameworks. If you need a website that loads fast and
        has great SEO, then <span style="color: var(--color-accent);"
          >Astro</span
        >
        is for you.
      </p>
    </div>
  </main>
</Layout>
