---
import ThemeIcon from "./ThemeIcon.astro"

const hasCMS = false;
---
<header>
    <a href="/" class="logo">
    <img src="/heartbeat.png" alt="logo image" width="45" height="45" />
    </a>

    <button aria-controls="primary-nav" aria-expanded="false">
        <span class="visually-hidden">Menu</span>
        <img class="icon-menu" src="/icon-menu.svg" alt="" >
        <img class="icon-menu-close" src="/icon-menu-close.svg" alt="" >
    </button>

    <nav id="primary-nav">
        <ul>
            <li><a href="/">home</a></li>
            {hasCMS && <li><a href="/posts/">posts</a></li>}
            <li><a href="/about/">about</a></li>
            <li><a href="#">contact</a></li>
            <li><ThemeIcon /></li>
        </ul>
    </nav>
</header>

<style lang="scss">
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

ul {    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
a {
  margin: 0;
  text-decoration: none;
  color: var(--color-foreground);

  &:hover,
  &:focus-visible{
    color: var(--color-500);
  }
}

button {
    display: none;
}

@media (width < 750px){
    button {
        display: block;
        position: absolute;
        z-index: 10;
        right: 1rem;
        .icon-menu-close{
            display: none;
        }
    }
    nav{
        display: none;
    }

    [aria-expanded="true"] {
        .icon-menu-close{
            display: block;
        }
        .icon-menu{
             display: none;
        }
    }

    [aria-expanded="true"] + nav {
        display:block;
        position: absolute;
        height: 100dvh;
        inset: 0;
        width: 80%;
        margin-left: auto;
        z-index: 1;
        background-color: var(--color-400);
        box-shadow: 0 0 0 100vmax hsla(0, 0%, 0%, 0.178);

        ul {
            margin-top: 20vh;
            margin-left: 3rem;
            display: grid;
            gap: 2rem;
            font-size: var(--fs-h5);
        }
    }
}
</style>

<script>
    const navToggle = document.querySelector('[aria-controls="primary-nav"]');
    if(navToggle != null){
        navToggle.addEventListener('click', ()=>{
            const bIsNavOpened = navToggle.getAttribute('aria-expanded');
            if(bIsNavOpened === "false"){
                navToggle.setAttribute('aria-expanded', 'true');
            }else {
                 navToggle.setAttribute('aria-expanded', 'false');
            }
        })
    }
</script>