---
import { Image } from "astro:assets";
import ThemeIcon from "./ThemeIcon.astro";
import Social from "./Social.astro";
const hasCMS = false;
---

<header>
  <a href="/" class="logo">
    <!-- <Image src={logo} alt="logo image" width="45" height="45" /> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 640"
      height="40"
      width="40"
    >
      <path
        d="M407 111C416.4 101.6 431.6 101.6 440.9 111L458.1 128.2C460 128.1 462 128 463.9 128L495.9 128C507.1 128 517.8 130.3 527.5 134.5L543 119C552.4 109.6 567.6 109.6 576.9 119C586.2 128.4 586.3 143.6 576.9 152.9L564 165.9C571.6 178.1 576 192.6 576 208C576 218.2 583.4 226.8 592.7 231C620.6 243.5 640 271.5 640 304C640 330.2 627.4 353.4 608 368L608 400C608 408.8 600.8 416 592 416L560 416C551.2 416 544 408.8 544 400L544 384L480 384L480 400C480 408.8 472.8 416 464 416L432 416C423.2 416 416 408.8 416 400L416 382.4C404.2 380 393.3 375 384 368C382.5 366.9 381.1 365.7 379.7 364.5C362.7 349.8 352 328.1 352 304C352 295.2 344.8 288 336 288C327.2 288 320 295.2 320 304C320 348.7 346.2 387.2 384 405.2L384 416C384 433.7 398.3 448 416 448L448 448L448 512C448 529.7 433.7 544 416 544L352 544C334.3 544 320 529.7 320 512L320 436C300.2 443.7 278.6 448 256 448C233.4 448 211.8 443.7 192 436L192 512C192 529.7 177.7 544 160 544L96 544C78.3 544 64 529.7 64 512L64 393.1L45.9 433.8C40.5 445.9 26.3 451.4 14.2 446C2.1 440.6-3.3 426.4 2.1 414.3L24 364.9C29.3 353 32 340.2 32 327.2C32 219.7 117.2 132 223.8 128.1L224 128L288 128C329.7 128 371.4 140.1 405.2 153.7C406.9 151.9 408.7 150.1 410.5 148.5L407 145C397.6 135.6 397.6 120.4 407 111.1zM480 296C480 282.7 469.3 272 456 272C442.7 272 432 282.7 432 296C432 309.3 442.7 320 456 320C469.3 320 480 309.3 480 296zM568 320C581.3 320 592 309.3 592 296C592 282.7 581.3 272 568 272C554.7 272 544 282.7 544 296C544 309.3 554.7 320 568 320zM480 208C480 199.2 472.8 192 464 192C455.2 192 448 199.2 448 208C448 216.8 455.2 224 464 224C472.8 224 480 216.8 480 208zM528 224C536.8 224 544 216.8 544 208C544 199.2 536.8 192 528 192C519.2 192 512 199.2 512 208C512 216.8 519.2 224 528 224z"
      ></path></svg
    >
  </a>

  <button aria-controls="primary-nav" aria-expanded="false">
    <span class="visually-hidden">Menu</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="50"
      width="30"
      viewBox="0 0 448 512"
      class="icon-menu"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="60"
      width="40"
      viewBox="0 0 640 640"
      class="icon-menu-close"
    >
      <path
        d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM231 231C240.4 221.6 255.6 221.6 264.9 231L319.9 286L374.9 231C384.3 221.6 399.5 221.6 408.8 231C418.1 240.4 418.2 255.6 408.8 264.9L353.8 319.9L408.8 374.9C418.2 384.3 418.2 399.5 408.8 408.8C399.4 418.1 384.2 418.2 374.9 408.8L319.9 353.8L264.9 408.8C255.5 418.2 240.3 418.2 231 408.8C221.7 399.4 221.6 384.2 231 374.9L286 319.9L231 264.9C221.6 255.5 221.6 240.3 231 231z"
      ></path></svg
    >
  </button>

  <nav id="primary-nav">
    <ul class="base-list" role="list">
      <li><a href="/">home</a></li>
      {
        hasCMS && (
          <li>
            <a href="/articles/">articles</a>
          </li>
        )
      }
      <li><a href="/about/">about</a></li>
      <li><a href="#">contact</a></li>
      <li>
        <Social
          platform="github"
          username="withastro"
          useIcon
          iconClass="fa fa-github"
        />
      </li>
      <li><ThemeIcon /></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: 0 0 3em 0;
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  a {
    margin: 0;
    text-decoration: none;
    color: var(--color-foreground);

    &:hover,
    &:focus-visible {
      color: var(--color-500);
    }
  }

  button {
    display: none;
  }

  #primary-nav {
    // border: 1px solid red;
    color: var(--color-foreground);
  }

  .logo,
  .icon-menu,
  .icon-menu-close {
    transition: all 0.4s ease;
    fill: var(--color-foreground);
  }

  @media (width < 750px) {
    button {
      display: block;
      position: absolute;
      z-index: 10;
      right: 1rem;
      .icon-menu-close {
        display: none;
      }
    }
    nav {
      display: none;
    }

    [aria-expanded="true"] {
      .icon-menu-close {
        display: block;
      }
      .icon-menu {
        display: none;
      }
    }

    [aria-expanded="true"] + nav {
      display: block;
      position: absolute;
      height: 100dvh;
      inset: 0;
      width: 80%;
      margin-left: auto;
      z-index: 1;
      background-color: var(--color-background);
      box-shadow: 0 0 0 100vmax hsla(0, 0%, 0%, 0.178);

      ul {
        margin-top: 20vh;
        margin-left: 3rem;
        display: grid;
        gap: 2rem;
        font-size: var(--fs-h5);
      }
    }
  }
</style>

<script>
  const navToggle = document.querySelector('[aria-controls="primary-nav"]');
  if (navToggle != null) {
    navToggle.addEventListener("click", () => {
      const bIsNavOpened = navToggle.getAttribute("aria-expanded");
      if (bIsNavOpened === "false") {
        navToggle.setAttribute("aria-expanded", "true");
      } else {
        navToggle.setAttribute("aria-expanded", "false");
      }
    });
  }
</script>
