@use "../abstracts/mediaqueries"as *;

/** 
  Global not scoped styling goes here.
  The following is in use in the Starter layout and its for demostration purpose only.
  Delete all the following when starting a new project and add your own styles, if any !
  See Astro's Style and CSS options docs to decide how to proceed.
**/

main {
  opacity: 0;
  animation: fade-in .8s ease forwards;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
