// @use "../abstracts/mediaqueries"as *;

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

main {
  opacity: 0;
  animation: fade-in 0.8s ease forwards;
}

/* Testing Astro Font experimental Pipeline */

// p {
//   font-family: var(--font-serif);
//   font-size: var(--fs-h5);
// }

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
