/**
 Header, Main, Footer grid system.
 Basic 3 rows layout with header and footer 
 in fix position even in pages with less content.

 Add the .site class to a div after body to encapsulate the
 <header> <main> <footer> components
**/

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0,1fr);
}

